<div class="jumbotron center">
	

	<% if user_signed_in? %>

		<h1>Ready to play?</h1>
		<%= link_to "See the wonderful pins !", pins_path, class: "btn btn-primary btn-block btn-lg" %>
	<% else %>

		<h1>Welcome to my app !</h1>

		<%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %> <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	<% end %>
</div>
